
.nav_components {
   position: sticky;
   top: 0;
   left: 0;
   justify-content: center;
   height: 54px;
   padding: 0px 0px 0px 0px;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}


.search_bar {
   position:absolute;
   top: 10px;
   width: 30%;
   height: 33px;
   background-color: white;
   opacity: 0.5;
   left: 60px;
   vertical-align: middle;
}

.icons {
      width: 45px;
      height: 45px;
      font-size: 25px;
      word-spacing: 10px;
      background-color: transparent;
      border: none;
      }

.nav_buttons {
   position: absolute;
   right: 10%;
}

   /* display: flex;
   position: absolute;
   top: 15px;
   right: 10%; */


i {
   padding-left: 10px;
   height:30px;
}

.logout {
   position: absolute;
   height: 10px;
   top: 15px;
   right: 10%;

}