
.nav_components {
   position: fixed;
   justify-content: space-between;
   /* position: fixed; */
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   background-color:  #36465d;
   /* position: sticky;
   top: 0;
   left: 0;
   justify-content: center;
   padding: 0px 0px 0px 0px;
   width: 100%;
   background-color: transparent;
   background-image: none;*/
   height: 54px;
   border-bottom: 1px solid rgb(255, 255, 255, 0.15); 
}

.search_bar:active {
   color: white;
   background-color: white;
}
.search_bar {
   position:absolute;
   top: 10px;
   width: 30%;
   height: 33px;
   background-color: #283648;
   opacity: 0.5;
   left: 60px;
   vertical-align: middle;
   border: none;
}

.nav_buttons {
   width: 14%;
}

.account_menu {
   position: relative;
   top: 50px;
}


.account_div:hover{
   background-color: transparent;
}

.nav_div:hover{
   background-color: transparent;
}
.nav_div{
   background-color: transparent;
}

.mui-ripple-circle {display: none;
}

Button:hover {
   /* background-color: transparent; */
}

/* have to use this because of material ui's styling? */
/* .fa-user-alt {
   height: 45px;
   width: 34px;
  font-size: 19px; 
  color: #9AA2AE;
  background-color: transparent;
  border: none;
}

.fa-user-alt:hover {
   background-color: transparent;
} */


.icons {
      /* width: 45px;
      height: 45px;
      font-size: 25px;
      word-spacing: 10px;
      background-color: transparent;
      border: none; */
   height: 45px;
   width: 34px;
  font-size: 21px; 
  color: #9AA2AE;
  background-color: transparent;
  border: none;
  margin: 8px 0 5px 20px;

}
.fa-home {
   position: relative;
   color: white;
   top: -1px;
}

.fa-user-alt {
   position: relative;
   top:4px;
}


.createPost {
   position: relative;
  width: 45px;
  height: 32px;
  font-size: 22px;
  color: #36455D;
  background-color:  #559DCC;
  border: 0px solid #559DCC;
  border-radius: 2px;
  margin: 11px 0 18px 16px;
}

.nav_buttons {
   display: flex;
   position: absolute;
   right: 5px;
}

   /* display: flex;
   position: absolute;
   top: 15px;
   right: 10%; */

/* 
i {
   padding-left: 10px;
   height:30px;
} */

.logout {
   position: absolute;
   height: 40px;
   right: 50%;

}