/* .main_dashboard {
   position: absolute;
   top: 100px;
   background-color: #36465d;
   background-image: none;
   padding: none;
} */

/* 
.grid-container {
   display: grid;
   grid-column-gap: 10px;
} */





.dashboard_general {
   position: relative;
   left: 24%;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
} */

/* .create_text {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

} */

.dashboard_buttons {
   position: relative;
   display: inline-flex;
   justify-content: space-evenly;
   top: 90px;

   width: 542px;
   height: 101px;
  font-size: 40px;
   background-color: white;
   border-radius: 3px;
}

.dashboard_icon_box {
   display: flex;
   flex-flow: column;
   /* display: inline-block; */
   align-items: center;
   padding-top: 20px;
   height: 40px;
   width: 76px;
   color: black;
}


.dashboard_text_label {
   font-size: 12px;
   position: relative;

}

.dashboard_icon:hover {
   position: relative;
   top: -3px;
}

.create_text {
   width: 542px;
   height: 291px;
   background-color: white;
   position: relative;
   top: 100px;
   margin-bottom: 21px;
}

.create_text_title {
   width: 500px;
   height: 47px;
   font-size: 27pt;
}

.create_text_text {
   font-size: 30;
   height: 80px;
   width: 500px;
}

.create_text_cancel {
   position: relative;
   bottom: 0px;
   color: black;
   width: 52px;
   height: 32px;
   background-color: gray;
}

.individual_post {
   position: relative;
   top: 110px;
   display: block;
   padding-bottom: 10px;
   height: auto;
   width: 540px;
   background-color: white;
   color: black;
   margin-bottom: 21px;
   border-radius: 3px;
}

.post_image {
   width: 540px;
      border-radius: 3px;

}

.dashboard_nav_text {
     font-weight: 650;
  color: #525252;
}

.fa-camera-retro {
   color: #DA6A54;
}

.fa-quote-left {
   color: #F1A344;
}

.fa-link {
   color: #6CC595;
}

.fa-headphones-alt {
   color: #AF86C8;
}

.fa-video {
   color: #838C94;
}

