.main_dashboard {
   position: absolute;
   top: 100px;
   background-color: #36465d;
   background-image: none;
   padding: none;
}

.posts_index {
   width: 625px;
   height:auto;
   left: 10px;
   border: 5px solid white;
}

.individual_post {
   width: 540px;
   height:auto;
   left: 10px;
   border: 5px solid white;
}
