/* .main_dashboard {
   position: absolute;
   top: 100px;
   background-color: #36465d;
   background-image: none;
   padding: none;
} */

/* 
.grid-container {
   display: grid;
   grid-column-gap: 10px;
} */





.dashboard_general {
   position: relative;
   left: 24%;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
} */



.dashboard_buttons {
   position: relative;
   display: inline-flex;
   justify-content: space-evenly;
   top: 90px;

   width: 542px;
   height: 101px;
  font-size: 40px;
   background-color: white;
   border-radius: 3px;
}

.dashboard_icon_box {
   display: flex;
   flex-flow: column;
   /* display: inline-block; */
   align-items: center;
   padding-top: 20px;
   height: 40px;
   width: 76px;
}


.dashboard_text_label {
   font-size: 15px;
   position: relative;
   top: 2px;
   color: #696969;
   font-weight: 200;
   font-family: Arial, Helvetica, sans-serif;

}

.dashboard_icon:hover {
   position: relative;
   top: -3px;
}

.individual_post {
   position: relative;
   top: 110px;
   display: block;
   padding-bottom: 10px;
   height: auto;
   width: 540px;
   background-color: white;
   color: black;
   margin-bottom: 21px;
   border-radius: 3px;
}

.index_image_post {
   padding-top: 10px;
}
.index_video_post {
   padding-top: 10px;

}
.index_audio_post {
   padding-top: 10px;

}

.post_body {
   position: relative;
   top: 0px;
   color: black;
   padding: 0px 20px 10px 20px;
   font-family: Arial, Helvetica, sans-serif;

   font-size: 14px;
   font-weight: 300;
}

.quote_post_title {
   padding: 0px 20px 0px 20px;
   color: black;
   font: bold;
   font-weight: 800;
}

.post_wrapper {
   padding: 5px 0px 0px 0px;
}

/* fold */
.individual_post:hover {
   border-radius: 3px 30px 3px 3px;
   transition: 0.5s;
}

/* .post_image {
   width: 540px;
      border-radius: 3px;
} */


.user_icon {
   width: 66px;
   height: 66px;
   border-radius: 3px;
   position: absolute;
   left: -86px;
}



.glass_active {
   position: absolute;
   top: 0;
   left: -1000px;
   width: 200%;
   height: 200%;
   z-index: 1;
   /* background: red; */
   background: rgba(54,70,93,0.9)
}


.dashboard_nav_text {
     font-weight: 650;
  color: #525252;
}

.fa-camera-retro {
   color: #DA6A54;
}

.fa-quote-left {
   color: #F1A344;
}

.fa-link {
   color: #6CC595;
}

.fa-headphones-alt {
   color: #AF86C8;
}

.fa-video {
   color: #838C94;
}



