.session_form {
   text-align: center;
   position: relative;
  top: 30%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.demo_button {
    margin: 12px 0 0 0;
   width: 300px;
   height: 43px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 700;
   padding-top: 5px;
   color: white;
   background-color: #444444;
   border: none;
   border-radius: 2px;
}

