.leftish {
   position: relative;
   left: 30%;
   font-size: 30px;
}
.rightish {
   position: relative;
   right: 30%;
   font-size: 30px;
}


.fullPageScrollH {
  font-family: 'Bevan', regular;
text-decoration: none; 
     color: transparent;
     font-weight: 200;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;

  font-size: 190px;

  position: absolute;
  left: 46%;
  top: 6.5%;
   z-index: 2;
}

.fullPageScrollH:hover {
   text-decoration: none; 
   color: transparent;
}

.pageScrollIcon {
   font-size: 50px;
   color: green;
   opacity: 0.3;
}

.circle-container {
    position: relative;
    top: 19%;
    width: 24em;
    height: 24em;
    /* padding: em; */
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    margin: 1.75em auto 0;
}
.circle-container i {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(4em); } /* 4em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(4em) rotate(-45deg); }
.deg90 { transform: rotate(90deg) translate(4em) rotate(-90deg); }
.deg135 { transform: rotate(135deg) translate(4.5em) rotate(-135deg); }
.deg180 { transform: translate(-5em); }
.deg225 { transform: rotate(225deg) translate(5.4em) rotate(-225deg); }
.deg270 { transform: rotate(270deg) translate(4.7em) rotate(-270deg); }
.deg315 { transform: rotate(315deg) translate(4.7em) rotate(-315deg); }


.fullPageHeader{
   color: white;
   font-size: 45px;  

}

.fullPageText {
   color: white;
   font-size: 15px;
}

.backtoTop1 {
   position: absolute;
   top: 7%;
   color: green;
   opacity: 0.4;
   background: none;
   border: none;
   font-size: 90px;
}

.fullPageExplainWrapper {
      position: relative;
      top: 32%;
      width: 100%;
        text-align: center;

      /* display: block;
    align-items: center;
   justify-content: center; */

}

.fullPagePostWrapper {
      width: 100%;

}

.fullPageImage{
   width: 20%;
}

.backtoTop2 {
   position: absolute;
   top: 25%;
   color: purple;
   opacity: 0.4;
   background: none;
   border: none;
   font-size: 90px;
}

.fullPageFeedImage {
   width: 630px;
   position: relative;
   top: 15%;
   left: 10%;

}

.fullPageImageWrapper {

      width: 100%;
        text-align: right;

      /* display: block;
    align-items: center;
   justify-content: center; */

}


.backtoTop3{
   position: absolute;
   top: 50%;
   color: lightblue;
   opacity: 0.4;
   background: none;
   border: none;
   font-size: 90px;
}
