/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree .
 *= require_self
 */

/* @font-face {
  font-family: "BookmanStd-bold";
  src: url('assets/BookmanStd-bold.otf');
} */
@font-face {
  font-family: "Kaushan Script Regular";
  src: url(/assets/KaushanScript-Regular.otf) format("truetype");
}

html, div {
   color: black;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
      padding: 0;

}

/* const wallpaperStyle = {
         margin: 0,
         background: `url(${window.splashUrl})`,
         backgroundRepeat: 'no-repeat',
         backgroundSize: 'cover',
      }; */

/* move to splash page */
body {
   /* background-image: url(${window.splashUrl});
    background-repeat: no-repeat;
   background-size: cover; */
   margin: 0;
   padding: 0;
         /* max-width: 100%; */
    overflow-x: hidden;

  
}

p :hover {
  text-decoration: none;
}

i :hover{
  text-decoration: none;
}
p {
  text-decoration: none;
}

i {
  text-decoration: none;
  border: none;
}

/* .small_logo {
  height: 32px;

} */

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

.fas :hover {
   text-decoration: none; 

}
.fas {
   text-decoration: none; 

}


/*This is coded CSS rainbow*/
/* small corner logo h */
.rainbow {
 text-decoration: none; 
  font-family: 'Bevan', regular;
  color: white;
  font-size:41.0px;
  position: fixed;
  top: -1px;
  left: 15px;
  z-index: 5;
}

.rainbow:not(:hover) {
  text-decoration: none; 
  font-family: 'Bevan', regular;
  color: white;
  font-size:41.0px;
  position: fixed;
  top: -1px;
  left: 15px;
  z-index: 5;
}

.rainbow:hover {
    text-decoration: none;

-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}