.index_link {
   font-style: italic;
}

.modal-title {
   color: black;
}

.modal-body {
   color: black;
}

.btn btn-default {
   z-index: 2;
}

.comments_counter {
   vertical-align: middle;   
   text-align: center;
   position: relative; 
   left: 50%;

   transform: translateX(-50%);

}

.comments_counter_outer {
   position: absolute;
   bottom: 10px;
   left: 2.5%;
   border: none;
   background: none;
   font-weight: 600;
   font-size: 12px;
   color: rgb(67, 67, 67);
}